/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100vw;
}

.nav-bar{
    background-color: #000;
    width: 14.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #717171; 
    height: calc(100vh - 90px);
    position: relative;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #717171;
}

.nav-playlist{
    padding-left: 1.375rem;
    padding-top: 1.875rem;
}


/* header */

.nav-bar .logo img{
    width: 75%;
    padding: 1.25rem 0 1.5625rem 1.25rem;
}

.nav-bar .logo-small img{
    display: none;
}

.icon-home{
    border-left: 3px solid#adff2f;
    padding: .3125rem 0 .3125rem 1.25rem
}

.icon-home a{
    color: #fff;
    vertical-align: middle;    
}

.icon-nav{
    font-size: 14px;
}

.icon-nav img{
    width: 15%;
    vertical-align: middle;
    margin-right: .625rem;
}

.icon-menu{
    padding: .3125rem 0 .3125rem 1.375rem;
}

.playlist-menu{
    color: #fff;
    padding-bottom: .9375rem;
}

.fa-square-plus{
    font-size: 55px;
    vertical-align: middle;
    margin-right: .625rem;
}

.list-playlist{
    overflow-y: auto;
    height: calc(100vh - 580px);
    min-height: 100px;
}


.crea-playlist{
    padding-bottom: 1.4375rem;
}


.name-playlist{
    padding-bottom: 1.5rem;
    font-size: 14px;
}

.install-app{
    display: flex;
    font-size: .875rem;
}

.install-utente{
    padding-left: 1.375rem;
    padding-right: 1.25rem;
}

.user img{
    width: 10%;
    vertical-align: middle;
    margin-right: .625rem;
}

.user-nav{
    color: #fff;
    font-weight: 800;
    padding-bottom: .5rem;
}

.user-nav img{
    background-color: #808080;
    width: 15%;
    clip-path: circle(46.8% at 50% 47%);   
}

.line-nav{
    margin-top: .75rem;
    margin-bottom: .9375rem;
}

/* /header */


/* footer */

footer {
    height: 90px;
    background-color: #282828;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}
























/* responsive */

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
    .nav-bar{
        width: 50px;
        padding: 0 11px;
        justify-content: space-between;
    }

    .icon-nav img{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .icon-menu{
        padding: 0;
    }

    .nav-bar .logo-small img{
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .nav-playlist, 
    .install-none,
    .icon-nav a,
    .logo img,
    .line-nav{
        display: none;
    }

    .icon-home{
        border-left: none;
        padding: 0;
    }

    .install-app{
        width: 70%;
        margin-left: 3px;
    }
    
    .install-utente{
        margin: 0;
        padding: 0;
    }

    .user img{
        margin: 0;
        width: 100%;
    }

    .logo-small{
        margin: 5px 0 15px 0;
    }

    .icon-menu{
        margin-top: 13px;
    }

    .user-nav{
        margin: 23px 0 10px 0;
    }


}