/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 100vh;
}

.blocco img{
    display: block;
}

header{
    position: relative;
}

.nav-bar{
    background-color: #000;
    width: 14.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #717171;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;      
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #717171;
}

.nav-playlist{
    padding-left: 1.375rem;
    padding-top: 1.875rem;
    display: flex;
    flex-direction: column;
}


/* header */

.nav-bar .logo img{
    width: 70%;
    padding: 1.25rem 0 1.5625rem 1.25rem;
}

.nav-bar .logo-small img{
    display: none;
}

.icon-home{
    border-left: 3px solid#adff2f;
    padding: .3125rem 0 .3125rem 1.25rem;
}

.icon-home a{
    color: #fff;
    vertical-align: middle;    
}

.icon-nav{
    font-size: .8125rem;
}

.icon-nav img{
    width: 13%;
    vertical-align: middle;
    margin-right: .625rem;
}

.icon-menu{
    padding: .3125rem 0 .3125rem 1.375rem;
}

.playlist-menu{
    color: #fff;
    padding-bottom: .9375rem;
}

.fa-square-plus{
    font-size: 50px;
    vertical-align: middle;
    margin-right: .625rem;
}

.list-playlist{
    overflow-y: auto;
    height: calc(100vh - 32.5rem);
    min-height: 6.25rem;
}


.crea-playlist{
    padding-bottom: 1.4375rem;
    font-size: .875rem;
}

.scroll-list{
    overflow-y: hidden;
    flex-grow: 1;
}

.name-playlist{
    padding-bottom: 1.5rem;
    font-size: .75rem;
}

.install-app{
    display: flex;
    font-size: .875rem;
}

.install-utente{
    padding-left: 1.375rem;
    padding-right: 1.25rem;
}

.user img{
    width: 10%;
    vertical-align: middle;
    margin-right: .625rem;
}

.user-nav{
    color: #fff;
    font-weight: 800;
    padding-bottom: .6875rem;
}

.user-nav img{
    background-color: #808080;
    width: 15%;
    clip-path: circle(46.8% at 50% 47%);   
}

.line-nav{
    margin-top: .75rem;
    margin-bottom: .9375rem;
}

/* /header */


/* footer */

.container-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
    background-color: #282828;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    
}

.foot-left{
    display: flex;
    align-items: center;
    width: 30%;
    
}
.tit-brano-foot{
    font-size: .8125rem;
    font-weight: 700;
    color: #fff;
}
.brano-foot{
    font-size: .625rem;
    color: #848484;
    padding-left: .625rem;
    width: calc(6.25rem - 1.25rem);
}

.foot-left img{
    width: 2.6875rem;
    margin-left: .625rem;   
}

.icon-left-footer{
    padding-left: 2.5rem;
    display: flex;
}

.fa-folder{
    padding-left: .9375rem;
}

.center-top{
    display: flex;  
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.center-top a{
    color: #fff;   
}

.fa-forward-step{
    padding-right: 1.375rem;
}

.fa-backward-step{
    padding-left: 1.375rem;
}

.fa-circle-play{
    font-size: 1.5rem;
    padding: 0 2rem;   
}

.icon-foot-center{
    font-size: 1rem;   
}

.foot-center{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.0625rem;
    flex-grow: 1;
}

.center-bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;     
}

.progress-bar{
    height: .25rem;
    border-radius: .625rem;
    width: 65%;
    background-color: #5a5a5a;
}

.progress{
    position: relative;
    height: 100%;
    width: 25%;
    background-color: #fff;
    border-radius: .625rem;
}

.time-player{
    color: #fff;
    font-size: .75rem;   
}

.foot-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.0625rem;
    width: 30%;
}
.volume-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .875rem;
    width: 100%;
}

.progress-volume-bar{
    height: .25rem;
    border-radius: .625rem;
    width: 80%;
    background-color: #5a5a5a;
    margin-right: .625rem;
}

.progress-volume{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: #fff;
    border-radius: .625rem;
}

.foot-right i{
    color: #fff;
    font-size: .8125rem;
}

/* /footer */

.top{
    display: flex;
}

/* main */
main{
    background-color: #141922;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 5.625rem;
    padding-left: 14.375rem;
    width: 100%;
}

.main-top{
    background-color: #080b12;
    height: 5.625rem;
    text-align: end;
    position: fixed;
    top: 0;
    right: 0;
    left: 14.375rem;
    opacity: 0.8;
    z-index: 1;
}

.btn{
    all: unset;
    color: #fff;
    border: .125rem solid #fff;
    padding: .75rem 2.5rem;
    border-radius: 3.125rem;
    margin: 1.25rem 1.5625rem;
    font-size: .75rem;
    cursor: pointer;
}

.container-menu{
    margin: 0 auto; 
    padding-top: 1.5625rem;
    margin-top: 5.625rem;
}

.list-flex{
    display: flex;
    gap: 1.6875rem;
    font-size: .75rem;
    justify-content: center;
    flex-wrap: wrap;
}

.line-evidenza{
    color: #adff2f;
    margin: .3125rem 1.75rem 0 1.75rem;
}

.recent-play{
    padding-left: 1.5625rem;
    padding-right: 2.1875rem;
    
}

.tit-recent{
    padding: 2.5rem 0 1.875rem 0;
    font-size: 1.375rem;
    color: #fff;
}
.blocco{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blocco img{
    width: 100%;
}

.container-img-main{
    display: flex;
    gap: .9375rem;
}

.tit-album{
    padding: 1.25rem 0 .625rem 0;
    font-size: 1rem;
}

.tit-album a{
    color: #fff;  
}

.bottom-album{
    font-size: .875rem;
}

.subtitle{
    font-size: .8125rem;
    color: #7b7e82;
}

.tit-john{
    padding: 2.8125rem 0 .625rem 0;
    font-size: 1.375rem;
    color: #fff;
}

.container-john{
    padding-left: 1.5625rem;

}

.album-john{
    display: flex;
    gap: 15px;
    width: calc(200% / 6 - 1.5625rem);
    padding-top: 1.875rem; 
}

.img-john{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-john img{
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
}
.circle{
    height: 100%;
    width: 100%;
}

.circle img{
    clip-path: circle(47%);
    width: 100%; 
}

.padding-bottom{
    padding-bottom: 6.25rem;
    text-align: center;
}

/* /main */


/* responsive */
@media screen and (max-width: 992px) {

    /* main */
    .container-img-main{
        flex-wrap: wrap; 
         
    }

    .blocco{
        width: calc(100% / 4 - .9375rem);
    }

    .recent-play{
        padding-right: 0;
    }

    .album-john{
        width: calc(100% / 2 - .9375rem); 
    }

    .circle img{
        clip-path: circle(50%);
        height: 80%;   
    }

}



@media screen and (max-width: 768px) {

    /* main */
    .list-flex{
        flex-wrap: wrap;
        width: ((100% - 1.75rem) / 4);
    }
    

    .blocco{
        width: calc(100% / 2 - .9375rem);
    }

    .recent-play{
        padding-right: 0;
    }

    .album-john{
        width: calc(200% / 2 - .9375rem); 
    }


}

@media screen and (max-width: 576px) {
    
    /* header */
    
    .nav-bar{
        width: 3.125rem;
        padding: 0 .6875rem;
        justify-content: space-between;
        height: calc(100% - 5.625rem);
    }

    .icon-nav img{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .icon-menu{
        padding: 0;
    }

    .nav-bar .logo-small img{
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .nav-playlist, 
    .install-none,
    .icon-nav a,
    .logo img,
    .line-nav{
        display: none;
    }

    .icon-home{
        border-left: none;
        padding: 0;
    }

    .install-app{
        width: 70%;
        margin-left: .1875rem;
    }
    
    .install-utente{
        margin: 0;
        padding: 0;
    }

    .user img{
        margin: 0;
        width: 100%;
    }

    .logo-small{
        margin: .3125rem 0 .9375rem 0;
    }

    .icon-menu{
        margin-top: .8125rem;
    }

    .user-nav{
        margin: 1.4375rem 0 .625rem 0;
    }
    
    /* /header */

    /* footer */

    .icon-left-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2.5rem 0 1.5625rem; 
    }
    .fa-folder{
        padding: 0;
    }

    .foot-left img{
        width: 1.9375rem;
    }

    .center-bottom{
        gap: .375rem;
    }

    .volume-bar{
        gap: .5rem;
    }

    .foot-right{
        gap: .375rem;
    }
   /* /footer */

   /* main */

   .main-top{
    left: 3.125rem;
   }

   main{
    padding-left: 3.125rem;
   }
}



/* hover */

a:hover{
    color: #fff;
}

.name-brano:hover{
color: #fff;
text-decoration: underline;
cursor: pointer;
}

.btn:hover{
    scale: 1.1;   
}

.fa-regular:hover{
     scale: 1.1;
}

.progress-bar:hover .progress{
    background-color: #adff2f;
}

.progress-volume-bar:hover .progress-volume{
    background-color: #adff2f;
}

.progress-volume-bar:hover .progress-volume::after{
    content: "";
    position: absolute;
    right: 0;
    top: -0.125rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(50%, calc(.25rem - 50%));
    width: .625rem;
    height: .625rem;
}

.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    right: 0;
    top: -0.125rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(50%, calc(.25rem - 50%));
    width: .625rem;
    height: .625rem;
}

.fa-hover{
    position: absolute;
    font-size: 2.8125rem;
    color: #fff; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: none;
}

.hover-img{
    position: relative;
}

.hover-img:hover img{
    opacity: 0.5;
}

.hover-img:hover .fa-hover{
    display: block;
    opacity: 2;
    scale: 1;
    cursor: pointer;
}


